#backgroundpic {
  background-image: url("images/basement.jpg");
  background-position: -880px -120px;
  height: 600px;
  margin-top: 75px;
}

#backgroundpic p {
  color: white;
  font-family: serif;
  font-size: 3.5em;
  font-weight:  bold;
  padding-top: 230px;
}

#bench {
  height: 65px;
  width: 65px;
}

#contact {
  height: 300px;
  background-color: #272727;
  color: #939393;
}

#contact div {
  font-weight: bold;
  padding-top: 150px;
  text-align: center;
}

#contact div.socialmedia {
  background-color: #171717;
  height: 100%;
  padding-top: 80px;
  text-align: center;
}

#whatwedo {
  background-color: #272727;
  padding-bottom: 175px;
}

#whatwedo h1 {
  color: white;
  font-size: 3.3em;
  font-weight: bold;
  padding-top: 70px;
  padding-bottom: 30px;
}

#whatwedo h2 {
  color: white;
  font-size: 3em;
  text-align: right;
}

#whatwedo p {
  color: #939393;
}

#youtubebutton {
  background-color: #E96656;
  margin-top: 200px;
  margin-left: 200px;
  position: static;
  width: 200px;
}

.bands {
  background-color: #8C7620;
  padding-bottom: 35px;
}

.bands span {
  color: white;
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 80px;
}

.bandblurb {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.bandblurb img {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

.bandname {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.container {
  width: 100%;
}

.socialmedia p {
  margin-top: 25px;
}

.socialmedia ul li {
  display: inline;
  font-size: 2em;
  margin: 10px;
}

.videos {
  height: 550px;
  padding-top: 80px;
  padding-bottom: 35px;
  text-align: center;
}

.videos div span {
  font-size: 3.2em;
  font-family: monospace;
  font-weight: bold;
}

nav.row {
  background-color: white;
  position: fixed;
  padding-top: 10px;
  width: 100%;
  z-index: 4;
}

nav a {
  color: #404040;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 0.96em;
  font-weight: bold;
  padding-top: 28px;
  text-decoration: none;
}
